@font-face {
  font-family: "Merienda-Bold";
  src: url('Merienda-Bold.ttf');
}

@font-face {
  font-family: "Merienda-Regular";
  src: url('Merienda-Regular.ttf');
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Merienda-Regular";
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #000;
  background-color: #fff;
}

.bg-container {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto !important;
  background-color: transparent;
}

.container {
  width: 95%;
  padding: 0 !important;
  margin: 0 auto !important;
}

#map-container {
  position: relative;
  overflow: hidden;
  height: calc(20vh + 400px);
  z-index: -1;
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
