selenium==4.44.0
airium==0.2.7
packaging==26.2
PyYAML==6.0.3
googlemaps==4.10.0
Flask==3.1.3
Pillow==12.2.0
requests==2.34.2
Werkzeug==3.1.8
paho-mqtt==2.1.0
tzdata==2026.3; sys_platform == "win32"
